@font-face {
    font-family: 'Clash Grotesk';
    src: url('./assets/fonts/ClashGrotesk-Regular.woff') format('woff'),
        url('./assets/fonts/ClashGrotesk-Regular.woff2') format('woff2');
    font-weight: 200 700;
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Clash Grotesk', sans-serif;
    background-color: #1a202c;
    color: white
}

@tailwind base;
@tailwind components;
@tailwind utilities;